<h1>Soap detail</h1>
{{#each soapDetail}}
    <div>
        <p> {{name}} </p>
        <p> {{description}} </p>
        <p> {{durability}} </p>
        <p> {{weight}} </p>
        <p> {{price}} </p>
    </div>
{{/each}}